legacy/
Plots/texput.log
Plots/main.aux
Plots/main.log
Plots/main.synctex.gz
Plots/old/
eda.ipynb
slope_of_maxdegrees.py
.ipynb_checkpoints/eda-checkpoint.ipynb
Plots/all_plots.synctex.gz
Plots/all_plots.log
Plots/all_plots.aux
